* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background: url("../imgs/relax.jpg") center center/cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

body .header {
  text-align: center;
}

body .header h1 {
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  font-family: cursive;
}

body .header h2 {
  font-size: 2rem;
  font-family: monospace;
  letter-spacing: 0.3rem;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: auto;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
}

body .container .text {
  margin: auto;
  font-size: 1.5rem;
  font-family: sans-serif;
  letter-spacing: .3rem;
}

body .container .gradient-circle {
  background: conic-gradient(#e04b06, #e04b06, #e04b06, #fff, #fff, #631313, #631313, #631313);
  height: 320px;
  width: 320px;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -2;
  border-radius: 50%;
}

body .container .circle {
  background: #c47932;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
}

body .container .pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  -webkit-animation: rotate 7.5s linear forwards infinite;
          animation: rotate 7.5s linear forwards infinite;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

body .container .pointer-container .pointer {
  background: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body .container.grow {
  -webkit-animation: grow 3s linear forwards;
          animation: grow 3s linear forwards;
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes grow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

body .container.shrink {
  -webkit-animation: shrink 3s linear forwards;
          animation: shrink 3s linear forwards;
}

@-webkit-keyframes shrink {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes shrink {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
